*{
margin: 0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
html, body{
    height:100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
img{
    width: 100%;
}

/*HEADER*/
header{
    height: 100px;
    background: #4d4d5c;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
}
#check{
    display: none;
}

/* BANNER */
#banner{
    padding: 0 50px;
    background-image: url(https://image.shutterstock.com/image-photo/vavrisovo-slovakia-september-14-2019-260nw-1504987256.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: '';
    background: rgba(77, 77,96, 0.6);
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
    }
    .contenido-banner h3 span{
        font-weight: 400;
    }
.boton-empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}
.boton-empezar:hover{
    background: #6cc091;
}

/*SLIDER*/
.container{
    margin: auto;
    background-color: white;
    width: 1000px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    min-width: 1000px;
    
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
  font-size: 5px;
  border-radius: 100%;
}
  
  
  .footer p {
    padding: 10px 0px 0px 15px;
    font-size: 16px;
  }
  
  .letra2 {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
  }

  .footer{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-right: 0px;
    justify-content: space-around;
    text-align: left;
    margin-top: 15px;
            }
            
  

/*RESPONSIVE*/
@media (max-width:768px) {
    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}